.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.App h1 {
  font-size: 28px;
  color: #66ff66;
}

.App h2 {
  font-weight: 1.5rem;
}

.weather-response {
  display: inline-block;
}

ul,
li {
  list-style: none;
}

weather__button--search {
  color: red;
  background-color: red;
  padding: 2.5rem;
}

@media screen and (max-width: 400px) {
  .App {
    width: 100%;
  }
}
